@model AppUserListDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_memberLayout.cshtml";
}


@if (TempData["message"] != null)
{

    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        @TempData["message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<form asp-action="Index" asp-controller="User" method="post" class="w-75 mx-auto p-3" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-group">
        <label asp-for="@Model.Name">Name</label>
        <input type="text" asp-for="@Model.Name" class="form-control" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Surname">Surname</label>
        <input type="text" asp-for="@Model.Surname" class="form-control" />
        <span asp-validation-for="@Model.Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Username">Username</label>
        <input type="text" asp-for="@Model.Username" class="form-control" />
        <span asp-validation-for="@Model.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Email">Email</label>
        <input type="text" asp-for="@Model.Email" class="form-control" />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Username">Username</label>
        <input type="text" asp-for="@Model.Username" class="form-control" />
        <span asp-validation-for="@Model.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4 mb-2">
                <h6 class="text-center">Your current picture</h6>
                <img src="~/img/@Model.Picture" style="height:5rem!important;margin-left:20px" class="mx-auto" alt="@Model.Username" />
            </div>
            <div class="col-md-8 mb-2">
                <div style="display:none" id="firstArea">
                    <h6 class="text-center">Your choose picture</h6>
                    <img style="height:5rem!important;margin-left:20px" class="mx-auto" src="" id="choosePic" />
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div id="newPic">
                    <label>Choose Pic</label>
                    <input type="file" class="form-control-file" name="picture" id="picture" />
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-warning btn-sm">Save</button>
</form>

@section javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#picture").change(function (e) {

                $("#firstArea").show()
                $("#choosePic").attr('src', URL.createObjectURL(e.target.files[0]))
            })
        })
    </script>

}
